# ignorer le venv de PyCharm
venv/

# ignorer les fichiers créé après une compilation sous Linux
AmtenaelLauncher.c
AmtenaelLauncher
Makefile

# ignorer les fichiers créé après une compilation sous Windows
dist/
build/
__pycache__/
AmtenaelLauncher.spec
